body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000AA;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  z-index: 500;
}

/* Custom Styling */

/* Fonts */

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

#text_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 20px;
  line-height: 25px;
}

#cardtext_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 22px;
  line-height: 23px;
}

#endframeBg {
  position: absolute; 
  top: 451px;
  height: 600px;
  width: 100%; 
  background: #FFFFFF;
}

#pinkRibbon {
  position: relative; 
  top: 0px;
  height: 9px;
  width: 100%; 
  background: #FC3388;
}

#blueBottomCard {
  background-color: #00E1FF;
  width: 160px;
  height: 140px;
  left: 0px;
  top: 460px;
}

.blue {
  color: #0033A0;
}

#h1,
#h2,
#h3 {
  width: 140px;
  left: 10px;
  top: 91px;
}

#h3 {
  color: #0000AA;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 20px;
  line-height: 25px;
}

#h3 .asterisk {
  font-size: 11px;
  line-height: 23px;
  top: -7px;
  position: relative;
}

#cta {
  left: 9px;
  top: 205px;
  width: 110px;
  height: auto;
  background-color:#0000AA;
  border-radius: 6px;
  color: #fff;
  font-family:  "ESKlarheitGrotesk Smbd";
  text-align: center;
  font-size: 11px;
  line-height: 1em;
  padding: 10px 0px;
  transform-origin: 50% 50%;
}

/* terms and logo text */

.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 9px;
  left: 15px;
  width: 250px;
}

#terms1, #termsCopyright{
  top: 577px;
}

#logoHolder {
  /* width: 260px;
  height: 29px;
  left: 20px;
  top: 195px; */
  width: 77px;
  height: 76px;
  left: 42px;
  top: 477px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#logoHolder > *{
  position: relative
}

#logo {
  width: 66px;
  height: auto;
}

#partner_logo_container{
  width: 0;
  height: 0;
  z-index: 1501;  
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#partner_logo_img{
  width: 65px;
  height: 48px;
  object-fit: contain;
  object-position: left;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}


/* Creative */

#globe {
  width: 142px;
  height: 142px;
  left: 10px;
  top: 248px;
  border-radius: 100%;
  background-color: #00E1FF;
  overflow: hidden;
  z-index: 1;
}

#globeHolder {
  width: 160px;
  height: 458px;
  transform-origin: 50% 68.5%;
}

#badge {
  width: 160px;
  height: 600px;
}

#badgeHolder {
  width: 160px;
  height: 458px;
}

#plane {
  left: 20px;
  top: 332px;
  z-index: 2;
}

#nametag {
  top: 20px;
  left: -25px;
  width: 160px;
  height: 600px;
  transform: scale(9);
  transform-origin: 61% 51.8%;
}

#crewMember {
  transform: scale(22);
  transform-origin: 60% 55%;
}
