body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000AA;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  z-index: 500;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

/* Text */

#text_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 22px;
  line-height: 23px;
  letter-spacing: -0.414px;
}

#cardtext_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 22px;
  line-height: 23px;
  letter-spacing: -0.414px;
}

#endframeBg {
  position: absolute; 
  top: 189px;
  height: 250px;
  width: 100%; 
  background: #FFFFFF;
}

#pinkRibbon {
  position: relative; 
  top: 0px;
  height: 9px;
  width: 100%; 
  background: #FC3388;
}

#blueBottomCard {
  background-color: #000064;
  width: 300px;
  /* height: 64px; with partner logo */
  height: 52px;
  left: 0px;
  top: 198px;
  /* top: 186px; with partner logo */
}

.blue {
  color: #00E1FF;
}

.orange {
  color: #FF8300;
}

#h1,
#h2,
#h3 {
  width: 260px;
  height: 74px;
  left: 21px;
  top: 12px;
}

#h3 .asterisk {
  font-size: 11px;
  line-height: 23px;
  top: -7px;
  position: relative;
}

/* terms and logo text */

.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 9px;
  left: 21px;
  width: 250px;
}

.terms .asterisk {
  font-size: 8px;
}

#terms1 {
  width: 130px;
  top: 227px;
}

#termsCopyright {
  width: 130px;
  top: 227px;
}

#logoHolder {
  /* width: 260px;
  height: 29px;
  left: 20px;
  top: 195px; */
  width: 262px;
  height: 29px;
  left: 20px;
  top: 209px;
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
  justify-content: space-between;
}

#logoHolder > *{
  position: relative
}

#logo {
  width: 66px;
  height: auto;
}

#partner_logo_container{
  width: 164px;  
  height: 29px;
  z-index: 1501;  
  display: block;
  white-space: nowrap;
}

#partner_logo_img{
  width: 164px;
  height: 29px;
  object-fit: contain;
  object-position: left;
}

/* Creative */

#armhandle {
  bottom: 20px;
  width: 100%;
  height: 100%;
  transform-origin: 35% 85.2%;
  transform: translate(0px, 80px) rotate(310deg); 
}

#basketball {
  top: 118px;
  left: 121px;
}