body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000AA;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  z-index: 500;
}

/* Custom Styling */

/* Fonts */

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

#text_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 19px;
  line-height: 25px;
}

#cardtext_holder {
  color: #0000AA;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 19px;
  line-height: 23px;
}

#endframeBg {
  position: absolute; 
  top: 451px;
  height: 600px;
  width: 100%; 
  background: #FFFFFF;
}

#pinkRibbon {
  position: relative; 
  top: 0px;
  height: 9px;
  width: 100%; 
  background: #FC3388;
}

#blueBottomCard {
  background-color: #000064;
  width: 160px;
  height: 140px;
  left: 0px;
  top: 460px;
}

.blue {
  color: #0000AA;
}

#h1,
#h2,
#h3 {
  width: 140px;
  left: 10px;
  top: 42px;
}

#h3 {
  font-size: 18px;
  line-height: 22px;
  color: #0000AA;
}

#h3 .asterisk {
  font-size: 11px;
  line-height: 23px;
  top: -7px;
  position: relative;
}

/* terms and logo text */

.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 9px;
  left: 9px;
  width: 125px;
  color: #ffffff;
}

#terms1, #terms2, #termsCopyright {
  top: 561px;
}

#logoHolder {
  /* width: 260px;
  height: 29px;
  left: 20px;
  top: 195px; */
  width: 77px;
  height: 72px;
  left: 42px;
  top: 477px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#logoHolder > *{
  position: relative
}

#logo {
  width: 76px;
  height: 25px;
  object-fit: contain;
  object-position: center;
}

#partner_logo_container{
  width: 0;
  height: 31px;
  z-index: 1501;  
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#partner_logo_img{
  width: 77px;
  height: 31px;
  object-fit: contain;
  object-position: center;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}


/* Creative */

#plane {
  width: 6400px;
  height: 2095px;
  left: -3550px;
  top: -1200px;
  transform: scale(0.0229);
  transform-origin: 56.9% 70.69%;
}

.backgroundClouds {
  opacity: 0.85;
}

.scaleSmall{
  transform: scale(0.4)
}